*{
  padding: 0;
  margin: 0;
  font-family: Arial;
}

/*
"#game" sets the boundaries of our game
*/

#game{
  width: 500px;
  height: 200px;
  border: 1px solid black;
}

/*
"#dino" creates the dinosaur
*/

#dino{
  width: 50px;
  height: 50px;
  /* Below, the dinosaur image is given to character */
  background-image: url("imgs/dino-run-0.png");
  background-size: cover;
  position: relative;
  top: 150px;
}
.animate{
  animation: jump 500ms;
}
@keyframes jump{
  0%{top: 150px;}
  30%{top: 100px;}
  70%{top: 100px;}
  100%{top: 150px;}
}

/*
"@keyframes" and "animation" work together to create the movement of the block
*/

#cactus{
  width: 20px;
  height: 40px;
  background-color: blue;
  position: relative;
  top: 110px;
  left: 480px;
  animation: cactus 1s infinite linear;
}

@keyframes cactus{
  /* Insert animation here! */
}